absl-py==2.4.0
alabaster==1.0.0
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.9.0
arrow==1.3.0
arxiv_latex_cleaner==1.0.11
asttokens==3.0.0
attrs==25.3.0
babel==2.17.0
backrefs==5.8
beautifulsoup4==4.13.4
Brotli==1.1.0
build==1.2.2.post1
CacheControl==0.14.3
certifi==2025.4.26
cffi==1.17.1
CFGraph==0.2.1
cfgv==3.4.0
chardet==5.2.0
charset-normalizer==3.4.2
cleo==2.1.0
click==8.2.1
colorama==0.4.6
contourpy==1.3.1
coverage==7.13.5
crashtest==0.4.1
cssselect2==0.8.0
curies==0.10.19
cycler==0.12.1
Deprecated==1.2.18
deprecation==2.1.0
distlib==0.3.9
docopt==0.6.2
docutils==0.21.2
dominate==2.9.1
dulwich==0.22.8
et_xmlfile==2.0.0
executing==2.2.0
fastjsonschema==2.21.1
filelock==3.18.0
findpython==0.6.3
fonttools==4.57.0
fqdn==1.5.1
ghp-import==2.1.0
graphviz==0.20.3
greenlet==3.2.4
h11==0.16.0
hbreader==0.9.1
html5lib==1.1
html5rdf==1.2.1
httpcore==1.0.9
httpx==0.28.1
icecream==2.1.4
identify==2.6.12
idna==3.10
imageio-ffmpeg==0.6.0
imagesize==1.4.1
importlib_resources==6.5.2
iniconfig==2.1.0
installer==0.7.0
isodate==0.7.2
isoduration==20.11.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.2.1
Jinja2==3.1.6
json-flattener==0.1.9
jsonasobj==1.3.1
jsonasobj2==1.0.4
jsonpointer==3.0.0
jsonschema==4.25.1
jsonschema-specifications==2025.4.1
keyring==25.6.0
kiwisolver==1.4.8
linkml==1.9.3
linkml-runtime==1.9.5
loguru==0.7.3
Markdown==3.8
MarkupSafe==3.0.2
matplotlib==3.10.1
mergedeep==1.3.4
mkdocs==1.6.1
mkdocs-get-deps==0.2.0
mkdocs-material==9.6.14
mkdocs-material-extensions==1.3.1
mkdocs-table-reader-plugin==3.1.0
more-itertools==10.7.0
msgpack==1.1.1
networkx==3.5
nodeenv==1.9.1
numpy==2.2.4
ontouml-models-lib==1.0.0b4
openpyxl==3.1.5
owlrl==7.1.3
packaging==24.2
paginate==0.5.7
pandas==2.2.3
pansql==0.0.1
parse==1.20.2
pathspec==0.12.1
pbs-installer==2025.7.12
pdfkit==1.0.0
pillow==11.1.0
pipreqs==0.4.13
pkginfo==1.12.1.2
platformdirs==4.3.8
pluggy==1.5.0
poetry==2.1.3
poetry-core==2.1.3
pre_commit==4.2.0
prefixcommons==0.1.12
prefixmaps==0.2.6
prettytable==3.16.0
psutil==5.9.8
pycparser==2.22
pydantic==2.11.7
pydantic_core==2.33.2
pydyf==0.11.0
Pygments==2.19.1
PyJSG==0.11.10
pylode==3.2.1
pymdown-extensions==10.15
pyparsing==3.2.3
pyphen==0.17.2
pyproject_hooks==1.2.0
pyshacl==0.30.1
PyShEx==0.8.1
PyShExC==0.9.1
pytest==8.3.5
pytest-cov==7.1.0
pytest-logging==2015.11.4
python-dateutil==2.9.0.post0
PyTrie==0.4.0
pytz==2025.2
pywin32-ctypes==0.2.3
PyYAML==6.0.2
pyyaml_env_tag==1.1
RapidFuzz==3.13.0
rdflib==7.1.4
rdflib-jsonld==0.6.1
rdflib-shim==1.0.3
referencing==0.36.2
regex==2026.4.4
reportlab==4.3.1
requests==2.32.3
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3987==1.3.8
roman-numerals-py==3.1.0
rpds-py==0.27.0
scipy==1.15.3
setuptools==80.8.0
shellingham==1.5.4
ShExJSG==0.8.2
six==1.17.0
sniffio==1.3.1
snowballstemmer==3.0.1
sortedcontainers==2.4.0
soupsieve==2.7
sparqlslurper==0.5.1
SPARQLWrapper==2.0.0
Sphinx==8.2.3
sphinx-click==6.0.0
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
SQLAlchemy==2.0.43
sssom==0.4.16
sssom-schema==1.0.0
tabulate==0.9.0
tinycss2==1.4.0
tinyhtml5==2.0.0
tomli_w==1.2.0
tomlkit==0.13.3
trove-classifiers==2025.5.9.12
types-python-dateutil==2.9.0.20250809
typing-inspection==0.4.1
typing_extensions==4.14.1
tzdata==2025.2
uri-template==1.3.0
urllib3==2.4.0
validators==0.35.0
virtualenv==20.31.2
watchdog==6.0.0
wcwidth==0.2.13
weasyprint==66.0
webcolors==24.11.1
webencodings==0.5.1
wget==3.2
wheel==0.45.1
win32_setctime==1.2.0
wrapt==1.17.3
yarg==0.1.10
zopfli==0.2.3.post1
zstandard==0.23.0
